# SPDX-FileCopyrightText: 2025 2025 INDUSTRIA DE DISEÑO TEXTIL S.A. (INDITEX S.A.)
# 
# SPDX-License-Identifier: Apache-2.0

DEV_WEAVEJS_REPO_PATH=<weavejs-repo-path>

NODE_ENV=development
HOSTNAME=0.0.0.0
PORT=8081
DEPLOY_ENVIRONMENT=local
LOG_LEVEL=info
HTTP_LOG_LEVEL=debug

# Development environment
AZURE_WEB_PUBSUB_ENDPOINT=<azure-web-pubsub-endpoint>
AZURE_WEB_PUBSUB_KEY=<key>
AZURE_WEB_PUBSUB_HUB_NAME=weavejs
PERSIST_FREQUENCY_SEG=10
CLEANUP_ROOMS_INTERVAL_SEG=60

AZURE_STORAGE_ACCOUNT_NAME=<azure-account-name>
AZURE_STORAGE_CONNECTION_STRING=<azure-storage-connection-string>
AZURE_STORAGE_ROOMS_CONTAINER_NAME=rooms
AZURE_STORAGE_IMAGES_CONTAINER_NAME=images
AZURE_STORAGE_VIDEOS_CONTAINER_NAME=videos
AZURE_STORAGE_GENERATED_IMAGES_CONTAINER_NAME=generated-images

AI_SERVICES=false
AI_PASSWORD=<password>

AZURE_CS_ENDPOINT=<azure-cs-endpoint>
AZURE_CS_API_KEY=<azure-cs-api-key>
AZURE_CS_TIMEOUT_SECS=240

APP_HOST=https://localhost:3000
GOOGLE_GENERATIVE_AI_API_KEY=<google-generative-ai-api-key>
GOOGLE_API_KEY=<google-api-key>

DATABASE_HOST=localhost
DATABASE_PORT=5434
DATABASE_NAME=weavejs
DATABASE_USERNAME=weave_dbuser
DATABASE_PASSWORD=weave_password
DATABASE_SSL=false
DATABASE_CLOUD_CREDENTIALS=false

FEATURE_WORKLOADS=true
FEATURE_THREADS=true

LITELLM_ENDPOINT=<litellm-endpoint>
LITELLM_API_KEY=<litellm-api-key>

DISABLE_ROOMS_CLEANUP=false

# Local
BETTER_AUTH_SECRET=<better-auth-secret>
BETTER_AUTH_URL=<better-auth-url>
GITHUB_CLIENT_ID=<github-client-id>
GITHUB_CLIENT_SECRET=<github-client-secret>
GOOGLE_CLIENT_ID=<google-client-id>
GOOGLE_CLIENT_SECRET=<google-client-secret>

PRINT_MEMORY_USAGE=false
PRINT_MEMORY_USAGE_INTERVAL=500
