name: Code execute db migrations

on:
  workflow_dispatch:
    inputs:
      BASELINE:
        description: "Baseline branch"
        required: true
        default: "main"
      ENVIRONMENT:
        description: "Migration environment"
        required: true
        type: choice
        options:
          - azure-develop
          - azure-pro
        default: "azure-develop"

permissions:
  id-token: write
  contents: read

jobs:
  db-migrations:
    name: Run database migrations
    timeout-minutes: 60
    runs-on: ubuntu-24.04
    environment: ${{ github.event.inputs.ENVIRONMENT && github.event.inputs.ENVIRONMENT || 'azure-develop' }}
    env:
      ASDF_BRANCH_VERSION: 0.18.0
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      AZURE_ACR_USERNAME: ${{ secrets.AZURE_ACR_USERNAME }}
      AZURE_DATABASE_HOST: ${{ secrets.AZURE_DATABASE_HOST }}
      AZURE_DATABASE_PORT: ${{ secrets.AZURE_DATABASE_PORT }}
      AZURE_DATABASE_NAME: ${{ secrets.AZURE_DATABASE_NAME }}
      AZURE_DATABASE_USERNAME: ${{ secrets.AZURE_DATABASE_USERNAME }}
    steps:
      - name: Get input parameters
        run: |
          BASELINE_BRANCH=${{ github.event.inputs.BASELINE || 'main' }}
          echo "BASELINE_BRANCH=${BASELINE_BRANCH#refs/heads/}" >> "$GITHUB_ENV"

      - name: Checkout merge commit
        uses: actions/checkout@v4
        with:
          ref: ${{ env.BASELINE_BRANCH }}
          fetch-depth: 0
          persist-credentials: false

      - name: NPM / Setup Dependencies Cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('code/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: asdf / Setup Dependencies Cache
        uses: actions/cache@v4
        id: asdf-cache
        with:
          path: ~/.asdf
          key: ${{ runner.os }}-asdf-${{ env.ASDF_BRANCH_VERSION }}-${{ hashFiles('code/.tool-versions') }}

      - name: Save tool-versions content
        run: |
          {
            echo "TOOL_VERSIONS<<EOF"
            cat code/.tool-versions
            echo "EOF"
          } >> "$GITHUB_ENV"

      - name: NPM / Setup asdf environment
        uses: asdf-vm/actions/install@1902764435ca0dd2f3388eea723a4f92a4eb8302 # v4.0.0
        # https://github.com/asdf-vm/actions/issues/356
        if: steps.asdf-cache.outputs.cache-hit != 'true'
        with:
          tool_versions: ${{ env.TOOL_VERSIONS }}
          asdf_version: ${{ env.ASDF_BRANCH_VERSION }}

      - name: NPM / Create Cache Folders
        run: |
          mkdir -p "$HOME"/.npm

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ env.AZURE_CLIENT_ID }}
          tenant-id: ${{ env.AZURE_TENANT_ID }}
          subscription-id: ${{ env.AZURE_SUBSCRIPTION_ID }}

      - name: Create migrations config file
        working-directory: code
        run: |
          mkdir config
          touch config/config.json
          export AZURE_DATABASE_PASSWORD="$(az account get-access-token --resource https://ossrdbms-aad.database.windows.net --query accessToken --output tsv)" 
          echo "{" >> config/config.json
          echo '  "production": {' >> config/config.json
          echo '    "username": "${{ env.AZURE_DATABASE_USERNAME }}",' >> config/config.json
          echo '    "password": "'${AZURE_DATABASE_PASSWORD}'",' >> config/config.json
          echo '    "database": "${{ env.AZURE_DATABASE_NAME }}",' >> config/config.json
          echo '    "host": "${{ env.AZURE_DATABASE_HOST }}",' >> config/config.json
          echo '    "port": ${{ env.AZURE_DATABASE_PORT }},' >> config/config.json
          echo '    "dialect": "postgres"' >> config/config.json
          echo '  }' >> config/config.json
          echo "}" >> config/config.json
          cat config/config.json

      - name: NPM / Run database migrations
        working-directory: code
        run: |
          npm ci
          npm run db:migrate
